@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap');

html {
  scroll-behavior: smooth;
}


body{
  background-color: #ffe4e4;
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  max-width: 900px;
  margin: auto;

}

.cartina{
  
 
}

h4{font-family: 'Signika', sans-serif;}

h2{font-family: 'Signika', sans-serif;
  color: #cb181d;}


.titolo{

 font-family: 'Archivo', sans-serif;

  margin:auto;
 font-size: 3.7rem;
 color: #de2d26;
  background-image: url("titolo.png");
 background-repeat: no-repeat;
 background-position-x: center;
 
 text-align: center;
 padding-bottom: 0pt;
 margin-top: 5pt;
 padding-top: 130pt;

 
}


.keyword{
  color: #cb181d; 
  font-size: 103%;
}

a{
  color: #cd1a23;
  text-decoration: none;
  font-style: italic;
}


.conclusioni{
  margin: auto;
}


.immtitolo{
  padding-top: 2rem;
  width: 50%;
}

.testo{
  text-align: left;
  line-height: 130%;
  
}




.numerobig{
  height: 7rem;
  margin-bottom: 0;
  font-size: 9.125rem;
  
}

#panca{
  width: 900px;
  margin: auto;
  margin-top: 110pt;
  
}

#foto0{
  width: 45%;
  margin-left: 70pt;
  margin-right: 70pt;
  margin-bottom: 0pt;
}

#foto1{display: none;
  margin-left: 70pt;
  margin-right: 70pt;
  width: 45%;
  margin-bottom: 0pt;
  }
#foto2{display: none;
  margin-left: 70pt;  
  margin-right: 70pt;
  width: 45%;
  margin-bottom: 0pt;
  }
#foto3{display: none;
  margin-left: 70pt;
  width: 45%;
  margin-right: 70pt;
  margin-bottom: 0pt;
   }

.div-citazione{
  font-weight: bold;
  padding-top: 30pt;
  padding-bottom: 30pt;
  padding-left: 30pt;
  
  margin-top: 110pt;
  margin-bottom: 110pt;

  font-size: 3rem;
  background-color: #cb181d;  
  font-family: 'Source Serif Pro', serif;
  color: whitesmoke;
  max-width: 2000px;
}


.citazione{
  font-style: italic;
  color: whitesmoke;
  font-weight: normal;
  font-size: 1.7rem;
  padding-bottom: 30pt;
}


.testocartina{
 
}









