@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap');

html {
  scroll-behavior: smooth;
}

body{
  background-color: #ffe4e4;
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
 margin-top: 0%;  
}

h4{font-family: 'Signika', sans-  ;}

.divtitolo{
  height: 550px;
  background-image: url(vetro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
  margin-bottom: 10pt; 
  margin-top: 0pt; 
  margin-left: 0pt;
  opacity: .9;
}

.titolo{
  font-family: 'Signika', sans-serif;
  padding-top: 300px;
 max-width: 70%; 
 margin: auto; 
 position: relative;
 top: 50%;
 transform: translateY(-50%);
 font-weight: 700;
 color:#ffe4e4;
 font-size: 90px;
 line-height: 90%;
}

.sottotitolo{
  font-family: 'Signika', sans-serif;
  margin:auto;
 font-size: 3.5rem;
 text-align: center;
 padding-bottom: 250pt;
 font-weight: bold;
 line-height: 100%;
 text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}


.keyword{
  color: #cb181d; 
  font-size: 103%;
}

a{
  color: #cd1a23;
  text-decoration: none;
  font-style: italic;
}
a:hover{
  text-decoration: underline;
  color: black;
}

.conclusioni{
  margin: auto;
  margin-top: 50pt;
}


.immtitolo{
  padding-top: 2rem;
  width: 50%;
}

.testo{
  text-align: left;
  line-height: 130%;
  
}




.numerobig{
  height: 7rem;
  margin-bottom: 0;
  font-size: 9.125rem;
  
}

#panca{
  width: 900px;
  margin: auto;
  margin-top: 110pt;
  
}

#foto0{
  width: 70%;
  display: block;
  margin:0px auto;
      text-align:center;
  
}

#foto1{display: none;

  width: 70%;
 
  margin:0px auto;
      text-align:center;
  }
#foto2{display: none;
  
  width: 70%;
  margin:0px auto;
      text-align:center;
  }
#foto3{display: none;

  width: 70%;
  margin:0px auto;
      text-align:center;
   }

.div-citazione{
  font-weight: bold;
  padding-top: 30pt;
  padding-bottom: 30pt;
  padding-left: 30pt;
  
  margin-top: 110pt;
  margin-bottom: 110pt;

  font-size: 3rem;
  background-color: #cb181d;  
  font-family: 'Source Serif Pro', serif;
  color: whitesmoke;
  max-width: 2000px;
}


.citazione{
  font-style: italic;
  color: whitesmoke;
  font-weight: normal;
  font-size: 1.7rem;
  padding-bottom: 30pt;
  text-decoration: none;
}












